* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

* ::-webkit-scrollbar {
  display: none;
}


.moveGradientAniClass{
    background: linear-gradient( 135deg, var(--black), var(--banner_gradient_one), var(--banner_gradient_two), var(--banner_gradient_one) , var(--black));
    overflow: hidden;
    animation: moveGradient 60s ease infinite;
    transition: transform 0.3s ease;
    background-size: 400% 400%;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}