@import url("../color.css");
@import url("../common.css");

body {
  font-family: var(--body_font);
  background-color: var(--body_black);
  line-height: 1.6;

  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  overflow: auto;
}

.main {
  width: 80%;
  max-height: 100vh;
  overflow-y: auto;
}

#header {
  max-height: 10vh;
}
.container {
  margin: 1.5rem;
  overflow: auto;
  height: 90vh;
}

@media (max-width: 768px) {
  .main{
    width: 100%;
  }
}